@model ControlDeGastosMVC.ViewModels.CategoriaViewModel

@{
    ViewData["Title"] = "Eliminar Categoría";
}

<h2>Eliminar Categoría</h2>

<h4>¿Estás segura de que querés eliminar esta categoría?</h4>

<div class="mb-3">
    <strong>Nombre:</strong> @Model.Nombre
</div>


<form asp-action="Delete" method="post" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
