@model ControlDeGastosMVC.ViewModels.PresupuestoViewModel

@{
    ViewData["Title"] = "Eliminar presupuesto";
}

<h2>¿Estás segura de que querés eliminar este presupuesto?</h2>

<h4>Presupuesto</h4>
<hr />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Mes</th>
            <td>@Model.Mes.ToString("MMMM")</td>
        </tr>
        <tr>
            <th>Año</th>
            <td>@Model.Mes.Year</td>
        </tr>
        <tr>
            <th>Importe</th>
            <td>@Model.Monto.ToString("C0")</td>
        </tr>
    </table>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>


